<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{ghost_head}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-99914114-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("1577252293");
</script>  
</head>
<body class="{{body_class}}">

    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
            <section class="copyright">&copy; 2017 <a href="/">{{@blog.title}}</a>. everyday.app | Do it every day!</section>
            <section class="social">
              <a href="https://twitter.com/everydaycheck" class="icon-twitter" target="_blank"></a>
              <a href="https://www.facebook.com/everydaycheck" class="icon-facebook" target="_blank"></a>
              <a href="https://everydaycheck.com" class="icon-calendar" target="_blank"></a>
            </section>
        </div>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

</body>
</html>