{{!< default}}

<header id="site-head">
    <a class="applink" href="https://everyday.app" target="_blank">Try everyday.app!</a>
    {{#if @site.logo}}<a id="blog-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="Blog Logo" /></a>{{/if}}
    <h1 class="blog-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
    <h2 class="blog-description">{{@site.description}}</h2>
    <!-- <h3 class="blog-link"><a href="https://everyday.app" target="_blank">Try everyday.app!</a></h3> -->
</header>

<main class="content" role="main">

    {{#foreach posts}}

    <article class="preview" role="article" itemscope itemtype="http://schema.org/Article">
        <header>
        <h1 class="post-title" itemprop="headline"><a href="{{url}}">{{{title}}}</a></h1>
        <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format="dddd, MMMM DD, YYYY"}}</time></div>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{pagination}}

    <h3 class="blog-link"><a href="https://everyday.app" target="_blank">Try everyday.app!</a></h3>
</main>